1. TF-IDF(단어 빈도-역 문서 빈도, Term Frequency-Inverse Document Frequency)

* DTM 내의 각 단어들마다 중요한 정도를 가중치 제공
* 값이 높으면 중요도가 높음

※ 문서: d, 단어: t, 문서의 총 개수: n

(1) tf(d, t): 특정 문서 d에서의 특정 단어 t의 등장 횟수

(2) df(t) : 특정 단어 t 가 등장한 문서의 수 

(3) idf(d, t) : df(t) 에 반비례하는 수

In [ ]:
import pandas as pd 
from math import log 

docs = ['먹고 싶은 사과', '먹고 싶은 바나나', '길고 노란 바나나 바나나', '저는 과일이 좋아요']
vocab = list(set(w for doc in docs for w in doc.split()))
vocab.sort()

In [ ]:
N = len(docs)

def tf(t, d):
   return d.count(t)

def idf(t):
   df = 0
   for doc in docs:
    df += t in doc
   return log(N/(df+1))

def tfidf(t, d):
   return tf(t,d)* idf(t)

result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
      t = vocab[j]
      result[-1].append(tf(t, d))

tf_ = pd.DataFrame(result, columns = vocab)

In [ ]:
result = []
for j in range(len(vocab)):
  t = vocab[j]
  result.append(idf(t))
idf_ = pd.DataFrame(result, index=vocab, columns=["IDF"])
idf_

          IDF
과일이  0.693147
길고   0.693147
노란   0.693147
먹고   0.287682
바나나  0.287682
사과   0.693147
싶은   0.287682
저는   0.693147
좋아요  0.693147

In [ ]:
result = []
for i in range(N):
  result.append([])
  d = docs[i]
  for j in range(len(vocab)):
    t = vocab[j]
    result[-1].append(tfidf(t,d))

tfidf_ = pd.DataFrame(result, columns = vocab)
tfidf_

,과일이,길고,노란,먹고,바나나,사과,싶은,저는,좋아요
0,0.000000,0.000000,0.000000,0.287682,0.000000,0.693147,0.287682,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.287682,0.287682,0.000000,0.287682,0.000000,0.000000
2,0.000000,0.693147,0.693147,0.000000,0.575364,0.000000,0.000000,0.000000,0.000000
3,0.693147,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.693147,0.693147